<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        input{
            display: flex;
        }
    </style>
    <center>
        <form method="post">
            {% csrf_token %}
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <label for="pno">Pno</label>
            <input type="text" id="pno" name="pno">
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
            <label for="un">Username</label>
            <input type="text" name="un"> 
            <label for="pw">Password</label>
            <input type="text" name='pw'>
            <input type="submit" value="register">
        </form>
    </center>
</body>
</html>